<div class="card">
    <!--    <div class="card-header"> liste <small><code>des</code> contacts</small>
            <button class="btn btn-primary pull-right" type="button" routerLink="/contacts/contactAdd"><i class="fa fa-lightbulb-o"></i>&nbsp;Ajouter Un Contact</button>
        </div>-->
    <div class="card-body">
        <div class="animated fadeIn">

            <!--/.row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> liste des panel 
                        </div>
                        <div class="card-body">
                            <div class="row" style="min-height:275px;" >
                                <div class="col-md-4" style="min-height:275px;">
                                    <ng-select
                                        [items]="data "
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        bindLabel="nom"
                                        placeholder="Select Nom"
                                        [(ngModel)]="selectedPeople1"
                                        [isOpen] = "true">
                                    </ng-select>


                                </div>
                                <div class="col-md-4">
                                    <ng-select
                                        [items]="data "
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        bindLabel="prenom"
                                        placeholder="Select Prenom"
                                        [(ngModel)]="selectedPeople2"
                                        [isOpen] = "true">
                                    </ng-select>


                                </div>
                                <div class="col-md-4">
                                    <div  *ngFor="let marq of marques">
                                        <li>{{marq.name}}</li>
                                
                                </div>
                                    <ng-select
                                        [items]="marques "
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        
                                        placeholder="Select Marque"
                                        [(ngModel)]="selectedPeople3"
                                        [isOpen] = "true">
                                        >
                                    </ng-select>


                                </div>


                            </div>
                            <hr>
                            
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <ng-select
                                        [items]="data "
                                        [multiple]="true"
                                        [closeOnSelect]="false"
                                        [searchable]="true"
                                        bindLabel="application"
                                        placeholder="Select Application"
                                        [(ngModel)]="selectedPeople4"
                                        [isOpen] = "true">
                                    </ng-select>


                                </div>


                            </div>
                            <div class="mt-3">
                                Selected value: <br />
                                <ul>
                                    <li *ngFor="let item of selectedPeople1">{{item.nom}}</li>
                                    <li *ngFor="let item of selectedPeople2">{{item.prenom}}</li>
                                    <li *ngFor="let item of selectedPeople3">{{item.val}}</li>
                                    <li *ngFor="let item of selectedPeople4">{{item.application}}</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
</div>